@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<QlBanGiay.Models.SanPham>

@foreach(var product in Model)
{
	<div class="col-md-3 col-lg-3 mb-4 text-center">
		<div class="product-entry border">
			<a href="/products/chitietsp?id=@product.Id" class="prod-img">
				<img src="@Url.Content("~/Images/"+product.Anh)" class="img-fluid" alt="Free html5 bootstrap 4 template">
			</a>
			<div class="desc">
				<h2><a href="/products/chitietsp?id=@product.Id">@product.TenSp</a></h2>
				<span class="price">@string.Format("{0:N0} VNĐ", product.Gia)</span>
			</div>
		</div>
	</div>
}
